/* Clusterize beautify */
.clusterize table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 0;
}

/* Visualise scroll progress */
.emulate-progress .progress-content{
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.emulate-progress .progress-bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  opacity: .4;
  background: #98F398;
}
.emulate-progress .progress-parent{
  position: relative;
}
.emulate-progress table div{
  padding: 0.5625rem 0.625rem;
}
.emulate-progress table tr:not(.clusterize-no-data) td{
  border-bottom: 1px solid #ddd;
  padding: 0;
}

/* Steps tutorial */
.steps .label{
  bottom: 2px;
}
.steps li{
  margin-bottom: 14px;
}

/* Various clusterize examples */
.example-table .clusterize-scroll{
  max-height: 400px;
}
.example-playground .clusterize-scroll{
  max-height: 240px;
}
.example-ul,
.example-ol{
  width: 100%
}
.example-ul ul{
  margin-bottom: 0;
}
.example-ol ol{
  margin-bottom: 0;
  margin-left: 4rem;
}
.example-div{
  width: 100%;
  line-height: inherit;
}

/* Helpers */
.playground-helper{
  font-size: 10px;
  padding: 4px 4px 2px;
  top: -14px;
  right: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
.rows-amount-helper{
  position: absolute;
  top: 12px;
  right: 28px;
}
.rows-amount-helper.closer{
  top: 25px;
}

.sub-nav{
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
}

.issue-num{
  font-size: 70%;
}

.issue-num a{
  margin-left: 1px;
  margin-right: 1px;
}

.mt0{
  margin-top: 0 !important;
}

.tooltip{
  max-width: 500px;
}

.carbon-limiter {
  overflow: auto;
}

/* carbonads */
#carbonads {
  display: block;
  overflow: hidden;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;

  float: right;
  max-width: 385px;
  margin-left: 1.5rem;

  border-style: solid;
  border-width: 1px;
  border-color: #b6edff;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #ecfaff;
  color: #333333;
}

#carbonads .carbon-wrap {
  display: block;
  overflow: hidden;
}

.carbon-text {
  display: block;
  float: left;
  max-width: 50%;
  text-align: left;
}

.carbon-img {
  float: left;
  margin-right: 1em;
}

.carbon-img img {
  min-height: 100px;
}

.carbon-poweredby {
  display: block;
  float: right;
  margin-top: -1.9em;
  font-size: 12px;
  font-style: italic;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  #carbonads {
    max-width: 330px;
  }

  #carbonads .carbon-wrap {
    display: table;
  }

  .carbon-text {
    padding-left: 1em;
    display: table-cell;
    vertical-align: top;
    float: none;
  }

  .carbon-img {
    display: table-cell;
    float: none;
    margin-right: 0em;
  }

  .carbon-poweredby {
    margin-top: 0;
  }
}

@media screen and (max-width: 700px) {
  .carbon-mobile-helper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  #carbonads {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: none;
    margin-left: 0;
  }
}